/* ===========================================
   Main CSS - Import All Stylesheets
   =========================================== */

/* Base */
@import url('./base/reset.css');

/* Components */
@import url('./components/header.css');
@import url('./components/footer.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/forms.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/product.css');
@import url('./pages/store.css');
@import url('./pages/event.css');
@import url('./pages/auth.css');
@import url('./pages/cart.css');